body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom; 
  background-size: 150px, 100px;
  width: 1920px;
  position: absolute;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.page__title {
  text-align: center;
  font-size: 48px;
  margin: 20px auto 40px;
  color: #333;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  font-family: "Montserrat", sans-serif;
}

.dessert-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 380px;
  height: 582px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 245px;
  object-fit: cover;
  display: block;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  color: #333;
  margin: 50px 59px 12px 44px;
  text-align: left;
}

.card__description {
  font-size: 16px;
  color: #666;
  line-height: 150%;
  font-weight: 400;
  margin: 0 96px 24px 44px;
  text-align: left;
}

.card__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin: 24px 0 0 44px;
  color: #434B53;
  text-align: left;
}

.card__button {
  margin: 14px 173px 60px 44px;
  background-color: #FED84C;
  border: none;
  border-radius: 6px;
  width: 163px;
  height: 68px;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #2E363E;
  font-family: "Montserrat", sans-serif;
}

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.decorations__img {
  position: absolute;
  filter: blur(13px);
}

.decorations__img--berry {
  width: 170px;
  height: 174px;
  margin-top: 380.19px;
  margin-left: 214px;
  transform: rotate(63.54deg);
}

.decorations__img--leaf1 {
  width: 108.93px;
  height: 112.99px;
  top: 1386.15px;
  left: 369.84px;
  transform: rotate(-92.61deg);
}

.decorations__img--leaf2 {
  width: 161px;
  height: 167px;
  top: 1192px;
  left: 1684px;
  transform: rotate(180deg);
}

