h1 {
    font-family: "Monsieur La Doulaise", cursive, serif;
    font-weight: 400;
    font-style: normal;
  }

p {
    font-family: "Exile", system-ui, serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Permanent Marker", cursive, serif;
    font-weight: 400;
    font-style: normal;
}
   
